@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Solid {
  border: 2px solid black;
  padding: 2rem;
  border-radius: 20px;
  background-color: white;
}

.Outline {
  border: 2px solid black;
  padding: 2rem;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.Search_Result::-webkit-scrollbar {
   width: 10px;
}

.Search_Result::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.Search_Result::-webkit-scrollbar-thumb {
  background: #888;
}

.Search_Result::-webkit-scrollbar-thumb:hover {
  background: #555;
}